* {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}


body {
  margin: 0;
}

header {
  background-image: url("images/pattern-bg-desktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 120px;  
  text-align: center;
}

header h1 {
  margin: 0;
  color: white;
  font-size: 18px;
}

.search-box {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

input {
  width: 100%;
  max-width: 305px;
  padding: 12px 16px;
  border: none;
  flex:1;
  border-radius: 10px 0 0 10px;
  outline: none;
}

input::placeholder {
  color: hsl(0, 0%, 58%);
  font-size: 12px;
}

button {
  background-color: black;
  border: none;
  padding: 0 15px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 30px hsl(0, 0%, 58%);
  border-radius: 12px;
  margin: -80px auto 0;
  background-color: white;
  max-width: 800px;
  padding: 35px;
}

h2 {
 font-size: 8px;
 letter-spacing: 1px;
 color: hsl(0, 0%, 58%);
 margin: 0 0 8px;
 font-weight: bold;
 margin-left: 10px;
}

p {
  font-size: 15px;
  font-weight: bold;
  margin-top: 0;
  margin-right: 100px;
  margin-left: 10px;
}

.divider {
  width: 1px;
  height: 50px;
  background-color: hsl(0, 0%, 58%);
}

#map {
  height: 500px;
  width: 100%;
  margin: 0;
}

