* {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}


body {
  margin: 0;
}

header {
  background-image: url("images/pattern-bg-desktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 20px 0;
  text-align: center;
}

header h1 {
  margin-bottom: 20px;
  color: white;
  font-size: 18px;
}

.search-box {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

input {
  width: 300px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 10px 0 0 10px;
}

input::placeholder {
  color: hsl(0, 0%, 58%);
  font-size: 12px;
}

button {
  background: black;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  max-width: 900px;
  margin: 0 auto;
}

.info-item {
 text-align: left;
}

h2 {
 font-size: 8px;
 letter-spacing: 1px;
 color: hsl(0, 0%, 58%);
 margin: 0 0 8px;
 font-weight: bold;
 margin-left: 10px;
}

p {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  margin-right: 60px;
}

.divider {
  width: 1px;
  height: 50px;
  background-color: hsl(0, 0%, 58%);
}

#map {
  height: 500px;
  width: 100%;
  margin: 0;
}

@media (max-width: 375px) {

  header {
    background-image: url("images/pattern-bg-mobile.png");
  }

  .search-box {
    width: 100%;
  }

  input {
    width: 100%;
    max-width: 260px;
  }

  .info {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px 10px;
  }

  .info-item {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }

  p {
    margin: 0;
  }

  .divider {
    display: none;
  }

  h2 {
    margin-left: 0;
  }

  #map {
    width: 100%;
    height: 400px;
  }
}
